<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <title>Coffee Shop</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
    <header>
        <h1>Welcome to the Coffee Shop</h1>
    </header>
    <nav>
        <a href="{% url 'coffee_Shop:home' %}">Home</a>
        <a href="{% url 'coffee_Shop:menu' %}">Menu</a>
        <a href="{% url 'coffee_Shop:order' %}">Order</a>
        <a href="{% url 'coffee_Shop:add_menu_item' %}">Add Items</a>
    </nav>
    <main>
        {% block content %}
        {% endblock %}
    </main>
</body>
</html>
